{% extends 'sales/base.html' %} {% block content %}
<div class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading text-center">View The Report</h4>
  <hr />
  <a class="btn btn-dark" href="{% url 'report' %}"
    >Report <span class="sr-only">(current)</span></a
  >
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Petroleum Product</th>
      <th scope="col">Year</th>
      <th scope="col">Sale</th>
    </tr>
  </thead>
  <tbody>
    {% for value in data%}
    <tr>
      <th scope="row">{{ value.id }}</th>
      <td>{{ value.petroleum_product }}</td>
      <td>{{ value.year }}</td>
      <td>{{ value.sale }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
