{% extends 'sales/base.html' %} {% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Year</th>
      <th scope="col">Min</th>
      <th scope="col">Max</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for k,v in data.items %}
      <th scope="row">{{ k | slice:":-1" }}</th>
      <th scope="row">{{ v.0 }}</th>
      <th scope="row">
        {% if v.1.sale__min is None %} 0 {% else %} {{ v.1.sale__min }}
        {%endif%}
      </th>
      <th scope="row">
        {% if v.2.sale__max is None %} 0 {% else %} {{ v.2.sale__max }}
        {%endif%}
      </th>
      <th scope="row">
        {% if v.3.sale__avg is None %} 0 {% else %} {{ v.3.sale__avg }}
        {%endif%}
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
